body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #fafafa;
    color: #333;
}

header {
    background: #d8ecff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.epi-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 30px;
}

.episode {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 5px #ccc;
}

.episode img {
    width: 200px;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .epi-grid {
        grid-template-columns: 1fr;
    }
}